.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.shadow{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-random-poke{
    -fx-background-color: #000000;
    -fx-background-radius: 15;
}
.itemBackground{
    -fx-background-color: #8b99a7;
}
.choose-background{
    -fx-background-color:#666666 ;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
}

.pokemon-item {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 0);
}


/* Estilo predeterminado de la barra de vida */
.progress-bar {
    -fx-accent: green; /* Color predeterminado de la barra de vida (puedes cambiarlo) */
}

/* Estilo para la barra de vida cuando está baja */
.progress-bar.low {
    -fx-accent: red; /* Color cuando la vida está baja */
}

/* Estilo para la barra de vida cuando está media */
.progress-bar.medium {
    -fx-accent: yellow; /* Color cuando la vida está a la mitad */
}